<h1>Edit Groups</h1>
<%= form_with(model: @group) do |form| %>
    <p>
        <%= form.label :group_name %>
        <%= form.text_field :group_name %>
    </p>
    <p>
        <%= form.label :test_number %>
        <%= form.number_field :test_number %>
    </p>
        <%= form.submit %>
<% end %>
